@{
    ViewBag.Title = "Transaction Aborted";
    ViewBag.SubHeading = "Transaction Not Completed";
}

<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-8">
            <div style="height: 300px">
                <h4>Oops!</h4>
                <h5>
                    Sorry something appears to have gone wrong, either you cancelled your payment or your transaction failed,
                    please try again or contact our support team.
                </h5>
            </div>
        </div>
    </div>
</div>
